@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 33px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 23px;
}

.card {
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
  border-radius: 4px;
}

.product-discount {
  position: absolute;
  right: 0px;
  padding: 3px 5px;
  width: auto;
  background: #FFE97A;
  color: #EE4D2E;
  border-top-right-radius: 4px;
}

.product-card:hover .product-card-content {
  background-color: #efefef;
}

nav.MuiAppBar-root {
  background-color: #EE4D2E;
}

.MuiCardMedia-root {
  background-size: contain !important;
}

.MuiButton-contained {
  background-color: #EE4D2E;
}

.MuiButton-contained.secondary-button {
  background-color: #FFEEE8 !important;
  color: #EE4D2E !important;
}

.MuiButton-contained:hover {
  background-color: #f05d40;
}

.MuiFormControl-fullWidth {
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.MuiBadge-colorPrimary {
  background-color: white !important;
  color: #EE4D2E;
}

.Mui-checked {
  color: #EE4D2E !important;
}

.ellipse-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipse-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel.carousel-slider {
  max-height: 400px;
}